*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/*///////////////////<<<-CSS Página Inicial->>>//////////////////////////*/

#display-Inicial{
    display: flex;
    
}

.pagina-inicial{
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: 'Open Sans', sans-serif,;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
   flex-grow: 1; flex-basis: 200px;
   background-color: #000000;
   
    
}


.bgRE{
    position: absolute;
    z-index: 2000;
    top: -15%;
    overflow: hidden;
    width:100% ;
    height: 100%;
    left: 0%;  
  }
  
  #bg-inicial {
    opacity: 0; /* Começa invisível */
    transition: opacity 5s ease; /* Define a transição de 2 segundos */
    width:100% ;
    height: 100%;
  }
  
  .hidden {
    opacity: 0; /* Classe que torna a imagem invisível */
  }
  /* botoes(modificar) */
  
  
  /*--------------------------------Botão Start-----------------------------------------------------------*/
  
  .btnStart-container{
      
      height: 100%;
      width: auto;
      align-content: center;
      z-index: 2000;
  }
  .button-49{
    z-index: 3000;
    cursor: pointer;
    top:20%;
    left: -15%;
  }
  
  
  
  /* CSS */
  .button-49,
  .button-49:after {
    z-index: 2;
    width: 150px;
    height: 76px;
    line-height: 78px;
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(45deg, transparent 5%, #c9000ada 5%);
    border: 0;
    color: #000000;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #f60000;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-49:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'T-VIRUS';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #000000, 3px 3px 0px #ffffff;
    clip-path: var(--slice-0);
  }
  
  .button-49:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }
  
  @media (min-width: 768px) {
    .button-49,
    .button-49:after {
      width: 200px;
      height: 86px;
      line-height: 88px;
    }
  }








/*///////////////////<<<-CSS INVENTÁRIO->>>//////////////////////////*/
body{
    background-color: black;
}

#display-inventario {
    display: none;
    }

main{position: relative;
    /*border: solid 10px red;*/
    display: flex;
    width:auto;
    height: 99vh;
    
}
.mala{
    position: absolute;
   /* border: solid 10px rgb(0, 255, 34);*/
    display: flex;
    align-items: end;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}



.fundo {
    position: absolute;
    width:100vw;
    height: 99vh;
}




.inventario{
   /* border: solid 10px rgb(246, 255, 0);*/
   display: flex;
   flex-wrap: wrap;
   padding-top: 0.2%;
    padding-left: 0.3%;
    width: 28.3%;
    height: 68%;
    margin-right: 1%;
    margin-bottom: 1.4%;
    
}

.ammun{
  z-index: 1001;
  position: absolute;
  color: green;
  font-size:210%;
  margin: 0.5%;
  

}

.item1{
width: 100%;
height: 96%;
}


.item {display: flex;
   /*border: solid 4px red;*/
    padding: 0;
    margin:0.4%;
    width: 48.2%; 
    height: 23.7% ;
    transition: transform 0.3s ease;
    align-items: end;
    
    
    
}


.barraVida{
    position: absolute;
    margin-left: 16.5%;
    margin-top: 2.5%;
    height:23%;
    width:35%;
    
}


.jill{
    position: absolute;
    margin-left:0.5%;
    margin-top:-1.1%;
    width: 15%;
    height: 31%;
}


.itemEquip{
    position: absolute;
    width: 70%;
    height: 90%;
    left: 15%;
    top: 5%;
    
}

.container-vida{
    
    margin-left: 67%;
    position: absolute;
    width: 16%;
    height: 18%;
    top:8%;
    left: 15.5%;
}



.containerEquip{
    
    margin-left: 40%;
    position: absolute;
    width: 25%;
    height: 20%;
    top:7%;
    left: 15.5%;

}

.bg{
    /*border: solid 10px rgb(255, 0, 238);*/
position: absolute;
width: 100%;
height: 100%;
}



.item:hover {
    transform: scale(1.1); 
}

#imagem-modal-equip
{position: absolute;
  top:0%;
  width: 100%;
  height: 100%;

}


.modalBox{
  position: relative;
}

.modal-container{
  display: flex;
  justify-content: center;
  align-items: center;
      
}

.btn-equip{
  position: absolute;
  z-index: 1001;
  color: aliceblue;  
}

#equipar, #descartar, #examinar{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  top:4%;
  border: solid 4px rgb(133, 133, 133);
  width: 98%;
  height: 32%;
  font-size: 30px;
  background-color: #111111;
  border-radius: 1%;  
}

#equipar:hover, #descartar:hover, #examinar:hover{
  background-color: #c22626;
  transform: scale(1.02);
}


#descartar{
  top: 66%;
}

#examinar{
  top: 35%;
}




#confirm-equipar{
    
    position: absolute; /* Fica fixo em relação à tela */
    z-index: 1000; /* Acima de outros elementos */
    left: 55%;
    top: 28.6%;
    height: 30%;
    width: 15%; /* Largura total da tela */
    /* Altura total da tela */
    border-color: #7c7c7c;
    border-radius:2% ;    
}






.nav-inv{
    display: flex;
    z-index: 1001;
    color: white;
    font-size: 35px;
    width: 100%;
    height: 6%;
    justify-content: end;
    margin-right: 1%;
    gap: 1%;
}

.nav1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    color: darkgray;
    transition: transform 0.1s ease;
}

.nav1:hover{
    transform: scale(1.1);
    color: rgb(160, 5, 5);
}



#mapa{
  position: absolute;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;


}



.box-dialogo-g{
  
  position: relative;
 /* border: solid 5px red;*/
  z-index: 2002;
  width: 68.2%;
  height: 68%;
  top:29%;
  left:0.8%;
  overflow: hidden;
  background-color: #000000;
  border:solid 5px rgb(168, 160, 160);
  border-radius: 1%;
  
}



#box-dialogo-p{
  position: absolute;
  /*border: solid 5px rgb(0, 255, 21);*/
  z-index: 2002;
  width: 67.7%;
  height: 25%;
  top:73%;
  left:1%;
  color:darkgray;
  padding:1%;
  font-size: 40px;
  overflow: auto;
}



/*////////////////////////////////<< A Partir daqui, CSS do modal Mapa >>//////////////////////////////////////////////////////*/


.area1, .area2, .area3 {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* areas dentro do contêiner pai (.map-container) */
  background-color: rgba(255, 0, 0, 0.0); /* fundo invisivel para clicar */
  cursor: pointer; /* parte do cursor para clicar */
}

/* posicao cada area com base nas coordenadas que transformei para top e left */
.area1 { top: 49.9%; left: 28%; width: 15%; height: 14%; border: solid 4px red; }
.area2 { position: absolute; top: 65%; left: 44.5%; width:16.3%; height: 26.7%; border: solid 4px red; }
.area3 { position: absolute; top: 60%; left: 60.6%; width:27%; height: 26.1%; border: solid 4px red; } 

/* estilo para as imagens que aparecem depois da  vitoria (nao funciona)*/
.popup-image {
  z-index: 2;
  position: absolute; 
  display: none; /* As imagens começam como invisiveis (e continuaram, pois nao funciona) */
  height: 15%;
  width:15% ; /* limita a largura maxima das imagens  */
  border: 2px solid #000; /* add uma borda em torno das imagens */
}

/* posicao especifica das imagens de vitoria para cada area */
.popup-image1 { top: 35%; left: 29%; }
.popup-image2 { top: 50%; left: 47%; }
.popup-image3 { top: 45%; left: 70%; } 

.area1:hover ~ .popup-image1 {
  display: block;
}

.area2:hover ~ .popup-image2 {
  display: block;
}

.area3:hover ~ .popup-image3 {
  display:block;
}


/* resumo: */

/* .map-container: serve como um conteiner para o mapa, permitindo que as reas sejam  posicionadas direito */

/* #mapa-jogo: define como a imagem do mapa se comporta no tamanho */

/* .area1 area2 area3: areas interativas do mapa, invisiveis mas clicaveis*/

/* popup-image: controla como as imagens que aparecem apos exibir as vitorias, definindo o posicionamento */

/* popup-image1 popup-image2 popup-image3: especifica  as posiçoes das imagens de vitoria para cada area clicada */

.player{
  height: 50%;
}


/* contêiner para a imagem e as áreas interativas */


/* Imagem do mapa */




/* Mostrando a imagem quando o mouse passar */

#startBattle{
  position:absolute;
  top:29.6%;
  left: 1%;
  background-color: rgba(255, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 67%;
  width: 67.8%;
  border-radius: 1%;

}

#danger , #box-danger{
  position: absolute;
}

#danger {
  top: 5%;
  width: 42%;
  height: 59%;
}

#box-danger{
  top:66%;
  width: 90%;
  height: 30%;
  ;
}

#box-danger-div{
  position: absolute;
  top:66%;
  width: 90%;
  height: 29%;
  color:darkgray;
  padding:1.5%;
  font-size: 35px;
  overflow: auto;
  
}