

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: 'Open Sans', sans-serif;
    display: flex;flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
   flex-grow: 1; flex-basis: 200px;
    
}

body:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("image.gif") no-repeat;
    background-position: center;
    background-size: cover;
}
/* botoes(modificar) */
nav{
    position: relative;
    width: 475px;
    height: 50px;
    background:#222 ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}

nav span{
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #194b4f,#33fffc);
    border-radius: 10px;
    transition: 0.5s;
}

/* passar o mouse sobre o botão, design com cor (nao modificar, deu trabalho)*/
nav a:nth-child(1):hover~span{
    left: 0px;
}
nav a:nth-child(2):hover~span{
    left: 110px;
}
nav a:nth-child(3):hover~span{
    left: 210px;
}
nav a:nth-child(4):hover~span{
    left: 310px;
}
nav a:nth-child(5):hover~span{
    left: 380px;
}