*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

.map-container{
     
    width: 100%; /* conteiner pai */
    height:100%;
    border: solid 4px rgb(25, 0, 255); 
    position: relative;
    
}
#mapa-jogo {
    
    
    width: 100%; /* conteiner pai */
    height: 100%; /* altura ajustada  */
    display: flex; /* Faz a imagem do mapa ser um bloco */
    
}

/*areas interativas */
.area1, .area2, .area3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* areas dentro do contêiner pai (.map-container) */
    background-color: rgba(255, 0, 0, 0.0); /* fundo invisivel para clicar */
    cursor: pointer; /* parte do cursor para clicar */
}

/* posicao cada area com base nas coordenadas que transformei para top e left */
.area1 { top: 50%; left: 28%; width: 15%; height: 14%; 
    /**/border: solid 4px red; 
    position: absolute;
    
    
   
} 



.area2 { position: absolute; top: 65%; left: 44%; width:17%; height: 26.7%; border: solid 4px rgb(238, 255, 0); }
.area3 { position: absolute; top: 60%; left: 61%; width:26%; height: 26.7%; border: solid 4px rgb(0, 17, 255); } 

/* estilo para as imagens que aparecem depois da  vitoria (nao funciona)*/
.popup-image {
    position: absolute; 
    display: none; /* As imagens começam como invisiveis (e continuaram, pois nao funciona) */
    height: 15%;
    width:15% ; /* limita a largura maxima das imagens  */
    border: 2px solid #000; /* add uma borda em torno das imagens */
}

/* posicao especifica das imagens de vitoria para cada area */
.popup-image1 { top: 35%; left: 29%; }
.popup-image2 { top: 50%; left: 47%; }
.popup-image3 { top: 45%; left: 70%; } 

.area1:hover ~ .popup-image1 {
    display: block;
}

.area2:hover ~ .popup-image2 {
    display: block;
}

.area3:hover ~ .popup-image3 {
    display:block;
}


/* resumo: */

/* .map-container: serve como um conteiner para o mapa, permitindo que as reas sejam  posicionadas direito */

/* #mapa-jogo: define como a imagem do mapa se comporta no tamanho */

/* .area1 area2 area3: areas interativas do mapa, invisiveis mas clicaveis*/

/* popup-image: controla como as imagens que aparecem apos exibir as vitorias, definindo o posicionamento */

/* popup-image1 popup-image2 popup-image3: especifica  as posiçoes das imagens de vitoria para cada area clicada */

.player{
    height: 80%;
}


/* contêiner para a imagem e as áreas interativas */


/* Imagem do mapa */




/* Mostrando a imagem quando o mouse passar */
